body {
    margin: 0;
    background-image: url('cave.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



/*---------------------------------top nav bar*/
ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11%;
    opacity: 0.97;
  }

ul img{
    width:70px;
    height: auto;
}

ul p{
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
    right: 50px;
    color:rgb(205, 109, 8);
    font-size: 25px;
    font-weight: bold;
}

li {
    float: left;
  }
  
li a {
    text-decoration: none;
    display: block;
    color: green;
    padding: 30px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
li a:hover {
    background-color: #111;
    color:aliceblue;
    transition: 0.5s;
  }
  
li a .active {
    background-color: #04AA6D;
    color: white;
  }






  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    font-weight: bold;
    color:#aa7804;
  }
  
  p a{
    color:#aa7804;
  }











/*------------------------container tronc*/

  .container_trunk{
    z-index: 0;
    position:absolute;
    width: 100%;
    max-width: 300px;
    left:175px;
    top: 260px;
  }
  .container_trunk img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .container_trunk .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container_trunk .btn:hover{
    background-color:#04AA6D;
    color: #000;
    transition: 0.3s;
  }

  /*------------------------container slime*/

  .container_slime{
    z-index: 0;
    position:absolute;
    width: 100%;
    max-width: 300px;
    left:550px;
    top: 285px;
  }
  .container_slime img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .container_slime .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container_slime .btn:hover{
    background-color:#04AA6D;
    color: #000;
    transition: 0.3s;
  }

/*------------------------container skeleton*/

.container_skeleton{
  z-index: 0;
  position:absolute;
  width: 100%;
  max-width: 300px;
  left:950px;
  top: 260px;
}
.container_skeleton img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.container_skeleton .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container_skeleton .btn:hover{
  background-color:#04AA6D;
  color: #000;
  transition: 0.3s;
}


  /*------------------------container badlands*/

  .container_badlands{
    z-index: 0;
    position:absolute;
    width: 100%;
    max-width: 600px;
    left:50px;
    top: 650px;
  }
  .container_badlands img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  .container_badlands .btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container_badlands .btn:hover{
    background-color:#04AA6D;
    color: #000;
    transition: 0.3s;
  }



/*------------------------container badlands*/

.container_skycastle{
  z-index: 0;
  position:absolute;
  width: 100%;
  max-width: 600px;
  left: 850px;
  top: 700px;
}
.container_skycastle img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.container_skycastle .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container_skycastle .btn:hover{
  background-color:#04AA6D;
  color: #000;
  transition: 0.3s;
}





/*-------------------------------------------- scroll indic*/
  .header {
    position: fixed;
    top: 11%;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }


  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background: #333;
    opacity: 0.97;
  }

  ::-webkit-scrollbar-thumb{
    background:rgb(205, 109, 8);
  }

