body {
    margin: 0;
    background-color: rgb(66, 64, 64);
}



/*---------------------------------top nav bar*/
ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11%;
    opacity: 0.97;
  }

ul img{
    width:70px;
    height: auto;
}

ul p{
    font-family: 'Courier New', Courier, monospace;
    padding: 7px;
    right: 50px;
    color:rgb(205, 109, 8);
    font-size: 25px;
    font-weight: bold;
}

li {
    float: left;
  }
  
li a {
    text-decoration: none;
    display: block;
    color: green;
    padding: 30px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
li a:hover {
    background-color: #111;
    color:aliceblue;
    transition: 0.5s;
  }
  
li a .active {
    background-color: #04AA6D;
    color: white;
  }



/*----------------------------- containers*/


p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  font-weight: bold;
  color:#aa7804;
}

p a{
  color:#aa7804;
}

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 17px;
  left: 25%;
}

tr:nth-child(even) {
  background-color: #4e4a4a;
}

table td{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

table td  td1{
  color:#aa7804;

}

table td td2{
  color:#c6c6c6;
}

table td td3{
  color: rgb(196, 47, 47);
}

table td td4{
  color:rgb(189, 83, 83);
}

table td td5 {
  color:orange;
}

table td td6{
  color:lightgreen;
}

table td td7{
  color:green;
}

















/*-------------------------------------------- scroll indic*/
  .header {
    position: fixed;
    top: 11%;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }


  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background: #333;
    opacity: 0.97;
  }

  ::-webkit-scrollbar-thumb{
    background:rgb(205, 109, 8);
  }

